@media (max-width: 1200px) {
    .promo {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .promo {
        min-height: 450px;
        padding: 21px 20px 70px 20px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        width: 135px;
        &_main {
            width: 255px;
            height: 45px;
            font-size: 15px;
        }
        &_submit {
            height: 45px;
            font-size: 15px;
            width: 270px;
        }
   }
    .benefits {
        padding: 50px 20px 80px 20px;
        min-height: 450px;
        &__wrapper {
            margin-top: 25px;
        }
        &__item {
            margin: 0 7px;

        }
        &__subtitle {
            font-size: 16px;
            margin-top: 25px;
        }
        &__text {
            font-size: 15px;
            line-height: normal;
        }
    }
    .title {
        font-size: 25px;
    }
    .consultation {
        min-height: 450px;
        padding: 65px 20px 85px 20px;
        &__descr {
            margin-top: 50px;
        }
    }
    .carousel {
        padding: 50px 20px;
        .slick-prev, .slick-next  {
            left: -23px;
           
            img {
                width: 21px;
                height: 30px;
            }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 50px;
        }
    }
    .feed-form {
        width: 270px;
        input {
            height: 45px;
        }
    }
    .feed {
        &__item {
            img {
               padding-left: 35px;
            }
        }
      
    }
   
}
@media (max-width: 767px) {
    .promo {
        padding: 21px 29px 50px 29px;
        &__wrapper {
            margin-top: 28px;
        }
        &__header {
            font-size: 28px;
            font-weight: 600;
        }
        &__subheader {
            font-size: 18px; 
            margin-top: 8px;
            line-height: 15px;
        }
        &__icons {
            margin-top: 39px;
            width: 310px;
        }
        &__link {
            font-size: 12px;
            margin-top: 15px;
        }
    }
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        height: 25px;
        font-size: 10px;
        &_main {
            width: 200px;
            height: 36px;
            font-size: 12px;
            margin-top: 50px;
        }
        &_submit {
            width: 200px;
            height: 40px;
            font-size: 12px;
        }
    }
    .benefits {
        padding: 36px 29px 71px 29px;
        &__wrapper {
            margin-top: 20px;
        }
        &__item {
            max-width: 220px;
        }
        &__subtitle {
            margin-top: 10px;
            text-align: center;
        }
        &__text {
            margin-top: 21px;
        }
    }
    .title {
        font-size: 20px;
        font-weight: 600;
    }
    .consultation {
        padding: 36px 0 70px 29px;
        &__descr {
            margin-top: 24px;
            font-size: 18px;
        }
    }
    .feed-form {
        width: 200px;
        input {
            height: 40px;
            font-size: 12px;
        }
    }
    .carousel {
        padding: 60px 21px;
        &__inner {
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__inner {
            justify-content: space-around;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        min-height: 400px;
        padding: 28px 0 35px 0;
        &__icons {
            display: none;
            &__header {
                font-size: 24px;
                text-align: center;
            }
            &__subheader {
                text-align: center;
            }
        }
    }
}


      
}