@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .promo {
        min-height: 450px;
        padding: 21px 0 70px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        width: 135px;
        &_main {
            width: 255px;
            height: 45px;
            font-size: 15px;
        }
        &_submit {
            height: 51px;
            font-size: 15px;
        }
   }
   .benefits {
       padding: 50px 0 60px 0;
       min-height: 350px;
       &__wrapper {
           margin-top: 40px;
       }
       &__subtitle {
           font-size: 16px;
       }
       &__text {
           font-size: 12px;
       }
   }
   .title {
       font-size: 25px;
   }
   .consultation {
       min-height: 450px;
       padding: 65px 0 85px 0;
       &__descr {
           margin-top: 50px;
       }
   }
   .feed-form {
       width: 270px;
       input {
           height: 45px;
       }
   }
}
@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .promo {
        padding: 21px 0 50px 0;
        &__wrapper {
            margin-top: 28px;
        }
        &__header {
            font-size: 28px;
            font-weight: 600;
        }
        &__subheader {
            font-size: 18px; 
            margin-top: 8px;
            line-height: 15px;
        }
        &__icons {
            margin-top: 39px;
            width: 310px;
        }
        &__link {
            font-size: 12px;
            margin-top: 15px;
        }
    }
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        height: 25px;
        font-size: 10px;
        &_main {
            width: 200px;
            height: 36px;
            font-size: 12px;
            margin-top: 50px;
        }
        &_submit {
            width: 200px;
            height: 40px;
            font-size: 12px;
        }
    }
    .benefits {
        padding: 36px 0 47px 0;
        &__wrapper {
            margin-top: 30px;
        }
        &__item {
            max-width: 174px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__text {
            margin-top: 21px;
        }
    }
    .title {
        font-size: 20px;
        font-weight: 600;
    }
    .consultation {
        padding: 50px 0 70px 0;
        &__descr {
            margin-top: 24px;
            font-size: 18px;
        }
    }
    .feed-form {
        width: 200px;
        input {
            height: 40px;
            font-size: 12px;
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 350px;
    }
    .promo {
        padding: 21px 0 44px 0;
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 16px;
        }
    }
    .header {
        &__phone {
            font-size: 11px;
            font-weight: 500;
        }
    }
    .button {
        width: 95px;
        height: 21px;
        font-size: 8px;
        margin: 3px 0 0 5px;
        &_main {
            width: 200px;
            height: 36px;
            font-size: 12px;
            margin-top: 50px;
        }
        &_submit {
            width: 200px;
            height: 40px;
            margin: auto;
            font-size: 11px;

        }
        
    }
    .benefits {
        padding: 36px 0 28px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 19px;
        }
        &__item {
            max-width: 300px;
        }
        &__subtitle {
            font-size: 18px;
            text-align: center;
            margin-top: 2px;
        }
        &__text {
            margin: 13px 0;
        }
    }
    .consultation {
        &__descr {
            font-size: 16px;
            text-align: center;
        }
    }
    .title {
        font-size: 18px;
        text-align: center;
    }
    .feed-form {
        margin: 33px 70px;
    }
    
}

      
